body{
    margin: 0;
    padding:0;
}
.container-custom{
    float: left;
    width:100%;

}

.container-center{
    margin: auto;
    width: 900px;
    margin-top: 20px;
    border: 1px solid #000000;
}

.overall-margin{
    margin: 10px;
}

.border{
    border: 1px solid #000000;
}

.bottom-text
{
    width: 100%;
    float: left;
}

.inner-container
{
    height: 200px;
    overflow-y: scroll;
    padding: 5px;
    border: 1px dotted #ccc;
    width: 100%;
    float: left;
    background: #fafafa;
}
.col-lg-6
{
   width: 47.5% !important;
}

.mrg
{
    margin-top: 5px;
}
.ul_styler
{
    float: left;
}
ul{
    margin: 0 !important;
    padding: 0 !important;

}
#ul_styler li{
    list-style: none;
    margin-top: 2px;
    border:1px solid #222222;;
    padding: 2px;
    background: #fff;
}
#input_add{
    margin-top: 5px;
}
#action_library
{
    margin-top: 10px;
}
#action_library input{
    margin: 2px;
}
